* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

ul {
  list-style-type: none;
}

.heading {
  font-size: 2rem;
  font-weight: 700;
  margin: 1rem 0;
}

.articles-container {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* navbar */

.topic-links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.topic-links a {
  margin: 0 10px;
  text-decoration: none;
  color: #000;
  font-weight: 700;
}

/* topic articles */

.topic-articles-container {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topic-articles {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 3px slategray;
  border-radius: 10px;
  margin: 20px;
  width: 90%;
  padding: 30px;
  line-height: 1.5;
}

.topic-articles h3 {
  margin: 10px;
  font-size: 1.7rem;
}

.topic-category {
  text-transform: uppercase;
  font-weight: 700;
  color: red;
}

.topic-articles img {
  width: 60%;
  height: 50%;
  margin: 10px 0;
  /* object-fit: cover; */
}

.topic-article-body {
  margin: 10px 0;
  padding: 50px;
  font-size: 1.2rem;
}

/* bigger screen go to grid */

/* @media (min-width: 768px) {
  .topic-articles-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }

  .topic-articles {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    width: 90%;
  }
} */
